<mi-auth-wrapper>
  <h3>Sign up</h3>
  <form novalidate (submit)="register($event)" [formGroup]="user" #form="ngForm" [class.was-validated]="form.submitted">
    <mat-form-field>
      <input matInput placeholder="First name" formControlName="firstName" type="text">
      <mat-error *ngIf="user.get('email').hasError('required')">First name is required</mat-error>
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Last name" formControlName="secondName" type="text">
      <mat-error *ngIf="user.get('email').hasError('required')">Second name is required</mat-error>
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Email" formControlName="email" type="email">
      <mat-error *ngIf="user.get('email').hasError('required')">Email is required</mat-error>
      <mat-error *ngIf="user.get('email').hasError('email')">Incorrect format</mat-error>
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Password" formControlName="password" type="password">
      <mat-error *ngIf="user.get('password').hasError('required')">Password is required</mat-error>
      <mat-error *ngIf="user.get('password').hasError('minlength')">Password should have not less than 6 characters</mat-error>
      <mat-error *ngIf="user.get('password').hasError('maxlength')">Password should have not more than 12 characters</mat-error>
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Repeat password" formControlName="passwordRepeat" type="password">
      <mat-error *ngIf="user.get('passwordRepeat').hasError('required')">Repeat password field is required</mat-error>
      <mat-error *ngIf="user.get('passwordRepeat').hasError('passwordRepeat')">Passwords don't match</mat-error>
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit">Register</button>

    <p>Already have an account?
      <a routerLink="/login">Sign in</a>
    </p>
  </form>
</mi-auth-wrapper>
