.enter {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	width: 50vw;
	border: 1px solid gray;
	border-radius: 5px;
	padding: 20px 0 20px 20px;
	.signIn {
		display: flex;
		flex-direction: column;
	}
	.fild {
		width: 70%;
	}
	.alert {
		font-size: 12px;
		color: red;
		padding: 0;
	}
	.submit {
		margin-top: 20px;
		width: 20%;
	}
}