<h3 class="text-center">Sign in here</h3>
<form [formGroup]="user" novalidate (submit)="submit($event)" #form="ngForm" [class.was-validated]="form.submitted">
  <fieldset class="form-group">
    <label class="field-name" for="email">Email:</label>
    <input class="form-control" id="email" formControlName="email" type="email">
    <div class="invalid-feedback" *ngIf="user.get('email').hasError('required')">Email is required</div>
    <div class="invalid-feedback" *ngIf="user.get('email').hasError('email')">Invalid format</div>
  </fieldset>

  <fieldset class="form-group">
    <label class="field-name" for="password">Password:</label>
    <input class="form-control" id="password" formControlName="password" type="password">
    <div class="invalid-feedback" *ngIf="user.get('password').hasError('required')">Password is required</div>
    <div class="invalid-feedback" *ngIf="user.get('password').hasError('minlength')">Password should have not less than 6 characters</div>
    <div class="invalid-feedback" *ngIf="user.get('password').hasError('maxlength')">Password should have not more than 12 characters</div>
  </fieldset>

  <button type="submit" class="btn btn-primary btn-block">Login</button>

  <p class="text-center">Have no account?
    <a routerLink="/signup">Sign up</a>
  </p>
</form>
