<mi-auth-wrapper>
  <h3>Sign in</h3>
  <form [formGroup]="user" novalidate (submit)="submit($event)" #form="ngForm" [class.was-validated]="form.submitted">
    <mat-form-field>
      <input matInput placeholder="Email" formControlName="email" type="email">
      <mat-error *ngIf="user.get('email').hasError('required')">
        Email is
        <strong>required</strong>
      </mat-error>
      <mat-error *ngIf="user.get('email').hasError('email')">
        Invalid format
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Password" formControlName="password" [type]="hidePassword ? 'password' : 'text'">
      <mat-icon matSuffix (click)="hidePassword = !hidePassword">{{hidePassword ? 'visibility' : 'visibility_off'}}</mat-icon>
      <mat-error *ngIf="user.get('password').hasError('required')">Password is required</mat-error>
      <mat-error *ngIf="user.get('password').hasError('minlength')">Password should have not less than 6 characters</mat-error>
      <mat-error *ngIf="user.get('password').hasError('maxlength')">Password should have not more than 12 characters</mat-error>
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit">Login</button>

    <p>Have no account?
      <a routerLink="/signup">Sign up</a>
    </p>
  </form>
</mi-auth-wrapper>
